.dictionary-wrapper{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .dictionary-block{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    &:hover{
      cursor:pointer;
      transform: scale(1.05);
    }
  }
  .learn-block{
    background-color: mix($background-main, #0000ff, $weight: 80%);
    color: rgba(0,0,255, 0.6);
  }
  .hard-block{
    background-color: mix($background-main, #ff0000, $weight: 70%);
    color: rgba(255,0,0, 0.6);
  }
  .delete-block{
    background-color: mix($background-main, #808080, $weight: 70%);
    color: rgba(128,128,128, 0.6);
  }
}
.dictionary-cards-wrapper{
  overflow-y: auto;
  padding: 5px;
  &::-webkit-scrollbar {
    width: 6px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(115, 175, 186, 0.5);
  }
}
.dictionary-header{
  text-align: center;
  color: #A1C244;
}
.dictionary-container{
height: 100%;
}