.main_home__wrapper {
    position     : relative;
    height       : 74vh;
    overflow-y   : auto;
    background   : rgb(250, 254, 255);
    background   : linear-gradient(67deg, rgba(18, 175, 136, 0.288) 4%, rgba(209, 247, 165, 0.315) 50%, rgba(18, 175, 136, 0.288) 77%);
    border-radius: 0 1em 4.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset 10px 5px 10px 5px rgba(6, 169, 190, 0.226);
    background-size: 500% 500%;
    animation: bgAnim 15s ease infinite;
}
.home_title {
    color: black;
    text-shadow: 2px 1px 3px rgba(21, 88, 97, 0.473);
    &:hover {
        color: rgb(21, 87, 107);
        text-shadow: 2px 2px 3px rgba(136, 180, 185, 0.781);
    }
}

.video_container { 
    display: flex;
    justify-content: start;
}

@keyframes bgAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}