.game-container {
  height: 70vh;
  margin: 0 10px;
  // background-image: url('../../assets/img/savannah_bg.jpg');
  background-image: url('https://i.pinimg.com/originals/dc/6d/c2/dc6dc2f53432d120c8bd140df7fddae5.jpg');
  background-position-x: 30%;
  background-position-y: 100%;
  background-size: auto 250%;
  background-repeat: no-repeat;
  transition: background-position 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-lifes {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 30px;
}
.contrast-color {
  color: white;

  text-shadow:
  1px 0 black,
  0 1px black,
  -1px 0 black,
  0 -1px black,
  -1px -1px black,
  -1px 1px black,
  1px -1px black,
  1px 1px black;
}

.game-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-top: 40vh;
}

.game-word {
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: relative;

  animation-duration: 3.5s;
  animation-name: wordFallDown;
  animation-timing-function: linear;
}

.game-result {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.new-game-btn {
  font-size: 20px;
}

@keyframes wordFallDown {
  from {
    top: 0px;
  }

  to {
    top: 400px;
  }
}
