$savana-bg: url('https://i.pinimg.com/originals/dc/6d/c2/dc6dc2f53432d120c8bd140df7fddae5.jpg');

.game-container {
  height: 70vh;
  margin: 0 10px;
  background-image: $savana-bg;
  background-position-x: 30%;
  background-position-y: 100%;
  background-size: auto 250%;
  background-repeat: no-repeat;
  transition: background-position 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 10vh;
}

.savannah-wrapper {
  align-self: center;
  margin-bottom: 25vh;
}

.savannah-title {
  text-align: center;
}

.btns-wrapper {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.lifes-container {
  display: flex;
  gap: 5px;
  position: absolute;

  top: 10px;
  right: 10px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.contrast-color {
  color: white;

  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black, -1px -1px black, -1px 1px black, 1px -1px black,
    1px 1px black;
}

.game-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-top: 40vh;
}

.game-word {
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: relative;

  animation-duration: 3.5s;
  animation-name: wordFallDown;
  animation-timing-function: linear;
}

// .full-screen {
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 1500;
//   background-image: $savana-bg;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

.game-over-wrapper {
  background-color: white;
}

.new-game-btn {
  font-size: 20px;
}

@keyframes wordFallDown {
  from {
    top: 0px;
  }

  to {
    top: 400px;
  }
}
