.sprint-game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-card {
    position: relative;
    display: flex;
    width: 50%;
    height: 310px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 16px;

    .sprint-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sprint-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .sprint-card-footer {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    p {
      font-size: 26px;
      margin: 0;
      align-items: center;
    }

    button {
      width: 125px;
      height: 50px;
      border: none;
      border-radius: 10px;
      font-weight: bold;

      &:active {
        transform: scale(0.8);
      }
    }

    .no-btn {
      background-color: rgba(255, 0, 0, 0.5);
    }

    .yes-btn {
      background-color: rgba(0, 128, 0, 0.5);
    }
  }

}

.wrong-answer {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.correct-answer {
  background-color: rgba(0, 128, 0, 0.2) !important;
}

.start-sprint-btn {
  width: 125px;
  height: 50px;
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  font-weight: bold;

  &:active {
    transform: scale(0.8);
  }
}

.sprint-timer {
  .countdown-svg {
    position: absolute;
    top: 30px;
    left: 35px;
  }

  span {
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: x-large;
    font-weight: 700;
  }
}

.sprint-score {
  position: absolute;
  top: 31px;
  right: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 130px;
  background-color: lightgoldenrodyellow;
  border-radius: 20px;
}

.sprint-sound {
  margin-bottom: 20px;
}

.sprint-full-screen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;
  background: $background-main;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sprint-game-settings {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 500px;
}

.sprint-game-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-wrapper {
  background-color: cyan;
  border-radius: 50%;
  margin-left: 10px;
  svg {
    fill: #92BBE0;

    &:hover {
      cursor: pointer;
      fill: deepskyblue;
    }
  }

}

#popover-basic {
  .popover-body{
    background-color: azure;
  }
}