.video_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(6, 169, 190, 0.226);
    margin-bottom: 1rem;
    // margin: 0 auto;
}