
.settings-container {
  margin-bottom: auto;
  align-self: center;
}

.settings-header {
  text-align: center;
}

.settings-main {
  display: flex;
  flex-direction: column;
}

.settings-main input {
  margin-right: 10px;
}


