.card-book {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-areas: 
  'word image'
  'mean mean'
  'mean-tr mean-tr'
  'ex ex'
  'ex-tr ex-tr';
  border: 1px solid black;
  border-radius: 10px;

  .card-book__image {
    grid-area: image;  
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    align-self: top;
    justify-self: center;
  }

  .card-book__word {
    grid-area: word;
  }

  .card-book__meaning {
    grid-area: mean;
  }

  .card-book__example {
    grid-area: ex;
  }

  .card-book__meaning-translate {
    grid-area: mean-tr;
  }

  .card-book__example-translate {
    grid-area: ex-tr;
  }

  .card-book-audio {
    width: 20px;
    margin-left: 5px;
  }

  .card-book-audio:hover {
    cursor: pointer;
  }
}

.card-book > * {
  padding-left: 10px;
}

.cards-container {  
  align-self: stretch; // for flex container
  margin-top: 10px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 10px;
  overflow-y: scroll;
}

.hard-word{
  background-color: cadetblue;
}