body {

  margin: 0 auto;
  background: rgb(34, 195, 151);
  background: linear-gradient(0deg, rgba(34, 195, 151, 0.861782212885154) 0%, rgba(189, 224, 247, 1) 100%);
  padding: 2rem;
  width: 100%;
}

